.CssComponent {
  /* 新しく追加したHeader */
  color: white;
  background-color: #66cc99;
  border-top: 1px solid #66cc99;
  border-bottom: 1px solid #66cc99;
  text-align: center;
}

h1 {
  font-size: 3em;
}

.Home {
  font-size: 1.4em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.CssComponent2 {
  /* 「スレッドをたてる」を一番右側の右上に寄せる */
  width: 200px;
  height: 180px;
  font-size: 0.8em;
  position: fixed;
  top: 0px;
  right: 0px;
}

.submit {
  font-size: 1.8em;
}

.OnclickButton {
  font-size: 20px;
  text-align: center;
}

.intitle label {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intitle input {
  width: calc(50% - 50px); /* 残りの幅を入力フィールドに割り当てます */
  box-sizing: border-box; /* 幅がボーダーボックス内に収まるようにします */
}

.example {
  border: 1px solid #333;
}
